# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://vpacgvqkrkzskrzpsydg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZwYWNndnFrcmt6c2tyenBzeWRnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg1OTIyNjAsImV4cCI6MjA5NDE2ODI2MH0.NNjL1i7XoQzUGYgelW4s6l0XW9d9UA_gX8ZcTkWphRU

# Stripe Configuration
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=sb_publishable_e860wi8nTRZhzLfO_W9H-Q_jJzpQbL8
